<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <label>phone</label>
        <input type="number" name="_phone">
        <label>password</label>
        <input type="text" name="_pass">
        <input type="submit" value="회원가입">
    </form>
</body>
</html>